


</div>
</body>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Device App</strong> by <a href="http://bened.tech">B.S.
      </p>
    </div>
  </footer>
</html>