<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>DeviceApp</title>
</head>

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        DeviceApp
      </a>
      <a role="button" class="navbar-burger has-dropdown" aria-label="menu" aria-expanded="false" data-target="basicNavBar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="basicNavBar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/devices">
            DEVICES
          </a>

        <a class="navbar-item" href="/devices/new">
          NEW
        </a>

        <a class="navbar-item" href="/devices/bulk">
            BULK
          </a>
  
      </div>
      </div>
    </div>
  </nav>



  


<body>
<div class="container py-4">
    