<%- include('partials/header') %> 


<div class="column">
  <div class="column is-half is-offset-one-quarter">
    <article class="message py-1">
      <div class="message-header">
        <p>Hello World</p>
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body">
          DeviceApp is an device management app which is built with <strong>MENB </strong>stack.<br>
          <strong>M</strong> is for MongoDB, <br>
          <strong>E</strong> is for Express JS Framework, <br>
          <strong>N</strong> is for NodeJS, and last but not least <br>
          <strong>B</strong> is for Bulma.

          <br>
          <br>

        <ol>
          <li>The CRUD (Create, Read, Update, Delete) operations are all available.</li>
          <li>Query based search is available. For example: the devices could be filtered by the category.</li>
          <li>Bulk Import feature is up and running.</li>
        </ol>
        
      </div>
    </article>
  </div>
</div>
  

<%- include('partials/footer') %> 

    
